<div class="container col-md-5" >
    
    <div class="row">
     <div class="col-1">
        <img src="../assets/images/trilok.jpeg" class="img-rounded" alt="trilok" width="300" height="200">
      </div>
    </div>
    <div class="row-1">
    <form (ngSubmit)="userLogin()">
      <div class="mb-3">
         <label for="exampleFormControlInput1" class="form-label">Username</label><br>
         <input type="text" [(ngModel)]="user.username" placeholder="username"  class="form-control" id="username" name="username" >
      </div>
      <div class="mb-3">
         <label for="exampleFormControlInput1" class="form-label">Password</label><br>
         <input type="password" [(ngModel)]="user.password" class="form-control" placeholder="password" id="password" name="password">
      </div>
      <div class="mb-3">
         <label for="exampleFormControlInput1" class="form-label">Role</label><p>&thinsp;<input list="role" [(ngModel)]="user.role" class="form-control" id="Role" name ="Role" placeholder="select any one"></p>
         <datalist id="role">
          <option value="Employer"></option>
          <option value="Job Seeker"></option>
          <option value="Marketing"></option>
         </datalist><br>
         <button type="submit" class="btn btn-primary">Login</button>    
      </div>
   </form>
  </div>
   
  
